#account {
  display: -ms-flexbox;
}
.dingWei {
  position: fixed !important;
  width: 100%;
}
.accountHeader {
  height: 1.01rem;
  display: -webkit-box;
  position: relative;
  background-image: linear-gradient(135deg, #ffd000 0%, #ffbd00 100%);
  border: none;
  z-index: 50;
  .navDropDown {
    position: absolute;
    right: 0.04rem;
    top: 1rem;
    height: 2.5rem;
    width: 2rem;
    opacity: 1;
    -webkit-transition: height 0.1s;
    background: #ffffff;
    color: #222222;
    box-shadow: 0 0.12rem 0.6rem 0 rgba(196, 196, 196, 0.6);
    border-radius: 0.1rem;
    overflow: visible;
    z-index: 100;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      a {
        color: #222222;
      }
      li {
        height: 0.83rem;
        line-height: 0.83rem;
        border-bottom: none;
        text-align: center;
        img {
          width: 0.48rem;
          height: 0.48rem;
        }
      }
    }
    &::after {
      content: '';
      background-image: url(https://p0.meituan.net/travelcube/dc0f73a6ecc53ad44da9d5bc10ceff96421.png);
      background-size: contain;
      display: block;
      width: 0.38rem;
      height: 0.12rem;
      position: absolute;
      top: -0.12rem;
      right: 0.2rem;
      box-shadow: 0 0 0 0 rgba(196, 196, 196, 0.6);
      border-radius: 0.05rem;
    }
  }
  .accountSpan {
    font-family: PingFangSC-Regular;
    font-size: 0.32rem;
    color: #222222;
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    font-weight: 400;
    text-align: center;
    line-height: 1rem;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .navWarpLeft {
    height: 1.01rem;
    line-height: 1.01rem;
    width: 1.9rem;
    span {
      height: 1rem;
      width: 0.45rem;
      line-height: 1rem;
      padding: 0 0.3rem;
      display: block;
      color: inherit;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      img {
        width: 0.2rem;
        height: 0.36rem;
      }
    }
  }
  .navWarpRight {
    width: 1.7rem;
    text-align: right;
    padding-right: 0.2rem;
    .change {
      width: 30px;
      font-family: base_icon;
      display: block;
      vertical-align: middle;
      font-style: normal;
      margin: auto;
      margin-bottom: 0.12rem;
      font-size: 2rem;
      right: 1rem;
      position: absolute;
      color: #fff;
      z-index: 101;
    }
    a {
      width: auto;
      padding: 0 0 0 0.2rem;
      display: inline-block;
      height: 100%;
      line-height: 1rem;
      text-align: center;
      span {
        display: inline-block;
        font-size: 0.2rem;
        line-height: 1;
        vertical-align: middle;
        img {
          width: 0.48rem;
          height: 0.48rem;
        }
      }
    }
  }
}
