html,
body,
#root {
  height: 100%;
}

html {
  font-size: 50px;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.28em;
  line-height: 1;
  color: #333;
  background-color: #ffffff;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

img {
  vertical-align: middle;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: content-box;
}

a {
  text-decoration: none;
}

p,
h6 {
  line-height: 1.41;
  margin: -0.2em 0;
  word-break: break-all;
}

dd,
dl {
  margin: 0;
}

li {
  list-style: none;
}

.am-list-item .am-list-line .am-list-brief {
  font-size: 12px !important;
}

.am-list-item .am-list-line .am-list-content {
  font-size: 14px !important;
}

.ant-drawer-body {
  padding: 0;
}

/* 发送消息 */
#myDivMessage {
  padding-top: 1.01rem;
  padding-bottom: 81px;
}
#myDivMessage .am-list-body div:not(:last-child) .am-list-line {
  border: none;
}
#myDivMessage .am-list-body {
  border: none;
  background: none;
}
#myDivMessage .am-list-item {
  padding: 0 15px;
  background: none;
}
#myDivMessage .mySendMessage .am-list-line {
  order: -1;
}
#myDivMessage .mySendMessage .am-list-line .am-list-content {
  display: flex;
  justify-content: flex-end;
}
#myDivMessage .mySendMessage .am-list-thumb:first-child {
  margin-left: 15px;
  margin-right: 0;
}

#myDivMessage .am-list-item .am-list-line-multiple {
  padding: 12.5px 30px 12.5px 0;
}

#myDivMessage .mySendMessage .am-list-line-multiple {
  padding: 12.5px 0 12.5px 30px;
}

#myDivMessage .am-list-item img {
  width: 35px;
  height: 35px;
  vertical-align: middle;
  border-radius: 50%;
}

#myDivMessage .chatMessage {
  background: #1bc3fb;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 500;
  padding: 10px;
  position: relative;
  display: inline-block;
  line-height: 1.8;
}

#myDivMessage .chatDuiMessage {
  background: #f1f1f1;
  border-radius: 5px;
  color: #000000;
  font-weight: 500;
  padding: 10px;
  position: relative;
  display: inline-block;
  line-height: 1.8;
}

#myDivMessage .am-list-body div:not(:last-child) .am-list-line::after {
  display: none;
}
