html,
body,
#root {
  height: 100%;
}

html {
  font-size: 50px;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.28em;
  line-height: 1;
  color: #333;
  background-color: #ffffff;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

img {
  vertical-align: middle;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: content-box;
}

a {
  text-decoration: none;
}

p,
h6 {
  line-height: 1.41;
  margin: -0.2em 0;
  word-break: break-all;
}

dd,
dl {
  margin: 0;
}

li {
  list-style: none;
}

.am-list-item .am-list-line .am-list-brief {
  font-size: 12px !important;
}

.am-list-item .am-list-line .am-list-content {
  font-size: 14px !important;
}
